<div class="container mt-4">
    <h2 class="text-center">{{ isEditMode ? 'Editar Usuario' : 'Crear Nuevo Usuario' }}</h2>

    <form (ngSubmit)="onSubmit()" class="mt-4">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" required />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="usuario.email" name="email" required />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="usuario.passwordHash"
                name="passwordHash" [required]="!isEditMode" />
        </div>

        <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select id="rol" class="form-select" [(ngModel)]="usuario.rol" name="rol" required>
                <option value="Admin">Admin</option>
                <option value="Usuario">Usuario</option>
            </select>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">
                {{ isEditMode ? 'Actualizar' : 'Registrar' }}
            </button>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
    </form>
</div>